* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
header {
    align-items: center;
}

header hr {
    margin: 0 50px;
}

footer {
    text-align: right;
    margin-right: 100px;
    padding: 10px 0;
    height: 20%;
    
}
footer a {
    color: rgb(65, 63, 49);
}
h1 {
    padding: 20px 0;
    font-weight: 300;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-family: 'Gluten';
    font-size: 50px;
}

header h1 {
    font-size: 70px;
}

.container {
    width: 920px;
    margin: 0 auto;
    background-color: rgb(228, 223, 155);
    min-height: 90vh;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgb(75, 74, 62);
    margin-bottom: 30px;
}

.descr,  .instructions, .ingredients{
    margin: 0 50px;
    padding: 10px 0;
    text-align: justify;
    line-height: 1.5;
}
.dish {
    padding: 0 50px 30px 50px;
    text-align: center;
    font-family: 'Gluten';
}
.dish a {
    color: rgb(41, 40, 40);
    text-decoration: none;
}
.dish img {
    width: 250px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}
.dish a:hover {
    transform: scale(1.1);
}

img.dish-prev {
    width: 400px;
    height: auto;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
}

.ingredients ul, .instructions ol {
    list-style-position: inside;
}
.instructions li {
    padding: 5 5px;
}

.instructions li::marker {
    font-weight: bold;
    padding-right: 5px;
}

#recipes-container {
    display: flex;
    align-content:space-around;
    height: 800px;
    flex-flow: wrap row;
    justify-content: space-between;
    column-gap: 30px;
}
#recipes-container div {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
}